/*---------------------------------------------------


    Chris J W Walker 2015

    Cog Project

    Styling fo cog positions and defines CSS3
    animations

---------------------------------------------------*/

/*Body background colour*/
body {
    background-color: black;
}





/*Background cogs; The two large static cogs*/
#doubleCog {
    left: 600px;
    top: 200px;
    position: absolute;
    width: 334px;
    height: 607px;
    background: url('gears.png') 334px 1321px;
    z-index: 0;
}





/*Two cogs with the large static; outer cog (blue) then inner cog (green)*/
#doubleCenter {
    left: 649px;
    top: 242.6px;
    position: absolute;
    width: 241px;
    height: 241px;
    background: url('gears.png') 325px -275px;
    z-index: 2;
    animation-name: rotateClock;
    animation-duration: 12000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: rotateClock;
    -webkit-animation-duration: 12000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

#dcCenter {
    left: 713px;
    top: 308px;
    position: absolute;
    width: 115px;
    height: 115px;
    background: url('gears.png') 325px 3px;
    z-index: 3;
    animation: rotateAntiClock;
    animation-duration: 8000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: rotateAntiClock;
    -webkit-animation-duration: 8000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}





/*Bike wheel cog assembly; Cog with spokes, then green circle, finally small green cog*/
#bikeWheel {
    left: 495px;
    top: 345px;
    position: absolute;
    width: 321px;
    height: 321px;
    background: url('gears.png') -0px -993px;
    z-index: 1;
    animation: rotateAntiClock;
    animation-duration: 15000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: rotateAntiClock;
    -webkit-animation-duration: 15000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

#bikeCircle {
    left: 610px;
    top: 465px;
    position: absolute;
    width: 87px;
	height: 87px;
	background: url('gears.png') no-repeat 0 -856px;
    z-index: 2;
}

#bikeCog {
    left: 622px;
    top: 478px;
    position: absolute;
    width: 62px;
	height: 62px;
    background: url('gears.png') no-repeat 0 -744px;
    z-index: 3;
    animation: rotateClock;
    animation-duration: 15000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: rotateClock;
    -webkit-animation-duration: 15000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}





/*Cog assembly below div id #doubleCenter*/
#screwCog {
    left: 755px;
    top: 460px;
    position: absolute;
    width: 141px;
    height: 141px;
    background: url('gears.png') 4px 296px;
    z-index: 2;
    transform: rotate(10deg);
    animation-name: rotateAntiClock;
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: rotateAntiClock;
    -webkit-animation-duration: 10000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

#screw {
    left: 791px;
    top: 495px;
    position: absolute;
    width: 70px;
    height: 70px;
    background: url('gears.png') 0px -1627px;
    z-index: 2;
    animation-name: rotateAntiClock;
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: rotateAntiClock;
    -webkit-animation-duration: 10000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}





/*Stack of three cogs near bottom. Order; Bottom > Middle > Top*/
#stackBot {
    left: 666px;
    top: 567px;
    position: absolute;
    width: 164px;
    height: 164px;
    background: url('gears.png') 0 -530px;
    z-index: 2;
    transform: rotate(5deg);
    animation: rotateClock;
    animation-duration: 8000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: rotateClock;
    -webkit-animation-duration: 8000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

#stackMid {
    left: 694px;
    top: 595px;
    position: absolute;
    width: 108px;
	height: 108px;
	background: url('gears.png') -371px 0;
    z-index: 3;
    animation: rotateAntiClock;
    animation-duration: 8000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: rotateAntiClock;
    -webkit-animation-duration: 8000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

#stackTop {
    left: 712px;
    top: 613px;
    position: absolute;
    width: 72px;
	height: 72px;
	background: url('gears.png') -371px -158px;
    z-index: 4;
    animation: rotateClock;
    animation-duration: 8000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: rotateClock;
    -webkit-animation-duration: 8000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}





/*Light blue cog left of the stack of three cogs.*/
#stackLeft {
    left: 541px;
    top: 565px;
    position: absolute;
    width: 135px;
	height: 134px;
	background: url('gears.png') no-repeat 0 0;
    z-index: 2;
    animation: rotateAntiClock;
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: rotateAntiClock;
    -webkit-animation-duration: 10000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}





/*Pair of cogs at the top*/
#topCog {
    left: 630px;
    top: 154px;
    position: absolute;
    width: 122px;
	height: 122px;
    background: url('gears.png') 0 -184px;
    z-index: 1;
    animation: rotateAntiClock;
    animation-duration: 8000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: rotateAntiClock;
    -webkit-animation-duration: 8000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

#topScrewCog {
    left: 648px;
    top: 173px;
    position: absolute;
    width: 85px;
	height: 84px;
    background: url('gears.png') no-repeat 0 -1493px;
    z-index: 2;
    animation: rotateClock;
    animation-duration: 8000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: rotateClock;
    -webkit-animation-duration: 8000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}





/*Cog assmebly linked to the weight on the left hand side*/
#leftBlueCog {
    left: 470px;
    top: 280px;
    position: absolute;
    width: 134px;
	height: 135px;
    background: url('gears.png') no-repeat 0 -1746px;
    z-index: 2;
    animation: rotateAntiClock;
    animation-duration: 8000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    -webkit-animation-name: rotateAntiClock;
    -webkit-animation-duration: 8000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-direction: alternate;
}

#leftBlueCenter {
    left: 497px;
    top: 309px;
    position: absolute;
	width: 80px;
	height: 79px;
    background: url('gears.png') no-repeat 0 -1364px;
    animation-name: rotateClock;
    animation-duration: 8000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    -webkit-animation-name: rotateClock;
    -webkit-animation-duration: 8000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-direction: alternate;
}

#leftDashCircle {
    left: 465px;
    top: 275px;
    position: absolute;
    width: 146px;
	height: 147px;
    background: url('gears.png') no-repeat -371px -706px;
    animation: rotateAntiClock;
    animation-duration: 8000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    -webkit-animation-name: rotateAntiClock;
    -webkit-animation-duration: 8000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-direction: alternate;
}





/*"Chain" and attached weight*/
#weightChain {
    left: 464px;
    top: 340px;
    position: absolute;
    width: 1px;
    height: 300px;
    border-right: 2px dotted #A6BB45;
    animation-name: weightChain;
    animation-duration: 8000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    -webkit-animation-name: weightChain;
    -webkit-animation-duration: 8000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-direction: alternate;
}

#weight {
    left: 449px;
    top: 610px;
    position: absolute;
    width: 34px;
	height: 92px;
    background: url('gears.png') no-repeat -371px -564px;
    animation-name: weightAnimate;
    animation-duration: 8000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    -webkit-animation-name: weightAnimate;
    -webkit-animation-duration: 8000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-direction: alternate;
}





/*Cog assmebly linked to the logo on the right hand side*/
#rightBlueCog {
    left: 850px;
    top: 180px;
    position: absolute;
    width: 134px;
	height: 135px;
    background: url('gears.png') no-repeat 0 -1746px;
    z-index: 2;
    animation: rotateAntiClock;
    animation-duration: 8000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    -webkit-animation-name: rotateAntiClock;
    -webkit-animation-duration: 8000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-direction: alternate;
}

#rightBlueCenter {
    left: 876px;
    top: 207px;
    position: absolute;
	width: 80px;
	height: 79px;
    background: url('gears.png') no-repeat 0 -1364px;
    animation: rotateClock;
    animation-duration: 8000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    -webkit-animation-name: rotateClock;
    -webkit-animation-duration: 8000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-direction: alternate;
}

#rightDashCircle {
    left: 844px;
    top: 173px;
    position: absolute;
    width: 146px;
	height: 147px;
    background: url('gears.png') no-repeat -371px -706px;
    animation: rotateAntiClock;
    animation-duration: 8000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    -webkit-animation-name: rotateAntiClock;
    -webkit-animation-duration: 8000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-direction: alternate;
}





/*"Chain" and attached logo*/
#logoChain {
    left: 987px;
    top: 240px;
    position: absolute;
    width: 1px;
    height: 300px;
    border-right: 2px dotted #A6BB45;
    animation-name: logoChain;
    animation-duration: 8000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    -webkit-animation-name: logoChain;
    -webkit-animation-duration: 8000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-direction: alternate;
}

#logo {
    left: 940px;
    top: 510px;
    position: absolute;
    width: 100px;
    animation-name: logoAnimate;
    animation-duration: 8000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    -webkit-animation-name: logoAnimate;
    -webkit-animation-duration: 8000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-direction: alternate;
}





/*Animation Code*/

/*Animation of the weight; weightAnimate moving the weight along the Y Axis, weightChain animating the length of the line*/
@keyframes weightAnimate {
    from {
        top: 410px;
    }
    to {
        top: 610px;
    }
}

@keyframes weightChain {
    from {
        height: 100px;
    }
    to {
        height: 300px;
    }
}





/*Animation of the logo; logoAnimate moves the logo along the Y Axis, logoChain animation the length of the line*/
@keyframes logoAnimate {
    from {
        top: 510px;
    }
    to {
        top: 310px;
    }
}

@keyframes logoChain {
    from {
        height: 300px;
    }
    to {
        height: 100px;
    }
}





/*CSS3 animation concerning the rotation of the cogs*/
@keyframes rotateClock {
    from {
        transform: rotate(0deg);
    }
    
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotateAntiClock {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}





/*Same animation functions as above, but written to support to Safari*/
@-webkit-keyframes weightAnimate {
    0% {
        top: 410px;
    }
    100% {
        top: 610px;
    }
}

@-webkit-keyframes logoAnimate {
    0% {
        top: 510px;
    }
    100% {
        top: 310px;
    }
}

@-webkit-keyframes weightChain {
    0% {
        height: 100px
    }
    100% {
        height: 300px;
    }
}

@-webkit-keyframes logoChain {
    0% {
        height: 300px;
    }
    100% {
        height: 100px;
    }
}

@-webkit-keyframes rotateClock {
    0% { -webkit-transform: rotate(0deg);}
    100% { -webkit-transform: rotate(360deg); }
}

@-webkit-keyframes rotateAntiClock {
    0% { -webkit-transform: rotate(0deg);}
    100% { -webkit-transform: rotate(-360deg); }
}